@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
}

.wrap{
  background-color: rgb(255, 255, 255);
  display: flex;
}

.wrap > header {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  width: 60px;
  border-right: 2px solid black;
  position: relative;
}

.header-menu_icon {
  width: 35px;
  height: 35px;
  margin: 12.5px;
  color: #2E3D86;
  
}

.header-logo {
  position: absolute;
  top:60px;
  left: 10px;
  width: 40px;
}

.wrap > .container {
  height: 100vh;
  width: 1000px;
  background-color: rgb(129, 25, 25);
}