* {
  margin: 0;
  padding: 0;
  /*overflow-x: hidden;*/
}

.wrap{
  background-color: rgb(255, 255, 255);
  display: flex;
}

.wrap > header {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  width: 60px;
  border-right: 2px solid black;
  position: fixed;
}

.header-menu_icon {
  width: 35px;
  height: 35px;
  margin: 12.5px;
  color: #2E3D86;
  
}

.header-logo {
  position: absolute;
  top:60px;
  left: 10px;
  width: 40px;
}

.temp {
  width: 100%;
  height: 100vh;
  background-color: #2E3D86;
}
