@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
  }

  @font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

.container {
    display: flex;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw; /*전체너비-header너비(60px+border2px)*/
    background-color: rgb(255, 255, 255);
}

.container-main {
    width: 100%;
}

.container-main-header {
    width: 100%;
    margin-top: 8vh;
    
}

@keyframes verticalSlide {
    0% {
        transform: translateY(0);
    } 50% {
        transform: translateY(-100%);
    } 50.001% {
        transform: translateY(100%);
    } 100% {
        transform: translateY(0%);
    }
}

@keyframes verticalSlide2 {
    0% {
        transform: translateY(0);
    } 100% {
        transform: translateY(-200%);
    }
}

.marquee-wrap {
    width: 500px;
    margin-left: 150px;
}

.marquee-1 {
    animation: verticalSlide 60s linear  infinite;
}

.marquee-2 {
    animation: verticalSlide2 60s linear  infinite;
}

.container-album_covers {
    background-color: rgb(255, 255, 255);
    width: 650px;
    height: 100vh;
    overflow: hidden;
}

.album_covers {
    width: 400px;
    height: 400px;
    box-shadow: 0 0 5px 5px rgb(0,0,0, 0.3);
    margin-top: 20px;
}

.container-main-nav {
    background-color: #ffffff;
    width: 100%;
    height: 150px;
    display:flex;
    font-family: 'Pretendard-Regular';
    justify-content: flex-end;
    align-items: center;
}

.container-main-nav-menu {
    font-size: 1.3rem;
    display: flex;
    list-style: none;
}

.container-main-nav-menu li {
    padding: 0 20px;
}

.container-main-nav-logo {
    width: 150px;
    margin-left: 30px;
    margin-right: 50px;
}
.container-main-svg {
    width:70%;
    margin: 0 auto;
}
.container-main_slogan {
    text-anchor: middle;
    text-align: center;
    width: 100%;
    height: 350px;
    stroke: #3A4CA8;
    stroke-width: 0.15rem;
}

@keyframes filling {
    from{
      fill: #3A4CA8;
      fill-opacity: 0;
    }
    to {
      fill: #3A4CA8;
      fill-opacity: 1;
    }
  }

@keyframes dash {
    to {
      stroke-dashoffset: 0;
    }
  }


.bold {
    stroke-dasharray: 800;
    stroke-dashoffset: 800;
    animation: dash 6s ease-in forwards, filling 6s linear forwards;
    font-weight: bold;
}



.emphasis {
    animation: filling 0.5s linear forwards;
    animation-delay: 5.5s;
}

.container-main_slogan text {
    font-family: 'Pretendard-ExtraBold';
    font-size: 11rem;
}

.container-main_playerbar {
    background-color: #3A4CA8;
    width: 70%;
    height: 2px;
    margin: 70px auto;
} 

.container-main_playertab {
    display: flex;
    justify-content: center;
}

@keyframes lpSlide {
    to {
        transform: translateX(100%);
    }
}

.lp {
    width: 35px;
    height: 35px;
    margin-top: -15px;
    
    
}

.back, .forward, .pause {
    color: #3A4CA8;
    width: 60px;
    height: 60px;
    margin: 5px 20px 0 10px;
}

