@font-face {
    font-family: 'Pretendard-Medium';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

.meaning {
    width: 100%;
    height: 100vh;
    background-color: white;
}

.meaning-dic {
    width: 100%;
    height: 50%;
}

.meaning-dic-header > span {
    font-family: 'Pretendard-Medium';
    font-size: 50px;
}

.meaning-dic-line {
    width: 90%;
    height: 2px;
    background-color: rgb(194,194,194,0.5);
}

.meaning-dic-word > span {
    font-family: 'Pretendard-Bold';
    color: var(--mainblue);
}