@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
  }

@font-face {
    font-family: 'Pretendard-ExtraBold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Pretendard-Bold';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

.messagepage {
    width: 100%;
    height: 100vh;
    background-color: #2E3D86;
    display: flex;

  }

.messagepage-left {
    background-color: var(--mainblue);
    width:30%;
    height: 100vh;
}

.messagepage-left-phrase1 {
    width: 450px;
    margin-top: 100px;
    margin-left: 50px;
}

.messagepage-left-phrase2 {
    font-family: 'Pretendard-Bold';
    font-size: 50px;
    /* -webkit-text-stroke: 0.2px rgb(255, 255, 255); */
    color: rgb(255,255,255, 0.6);
    margin-left: 200px;
}

.messagepage-right {
    background-color: var(--mainblue);
    width: 30%;
    height: 100vh;
}

.messagepage-right-phrase1 {
    font-family: 'Pretendard-Bold';
    color: rgb(255,255,255, 0.9);
    text-align: center;
    font-size:85px;
    margin-top: 65vh;
}
.messagepage-chating {
    background-color: var(--mainblue);
    width: 40%;
    height: 100vh;
}